<?xml version="1.0" encoding="UTF-8"?>
<!-- webapplication 설정 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">
  <display-name>shop2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- spring 설정 -->
  <!-- servlet 설정 -->
  <servlet>
  	<servlet-name>shop</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- dispatcher 는 프론트 컨트롤러. url mapping-->
  	<init-param>
  		<param-name>contextClass</param-name> <!-- 자바 설정 파일 쓸 거임 -->
  		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  	</init-param>
  	<init-param>
  		<param-name>contextConfigLocation</param-name> <!-- java 환경설정 파일의 클래스이름 지정 -->
  		<param-value>
  			config.MvcConfig
  			config.DBConfig
  			config.WebSocketConfig
  			config.BatchConfig
  		</param-value> 
  	</init-param>
  	<load-on-startup>1</load-on-startup> <!-- server restart => Dispatcher Servlet 1개 로드 -->
  </servlet>
  
  <!-- servlet-mapping : 요청정보와 서블릿 맵핑
  		/ (모든 요청) 시 shop 이름을 가진 서블릿 호출 -->
  <servlet-mapping>
  	<servlet-name>shop</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 인코딩 방식 지정(필터) -->
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>

